name: "Bind DNS Server"
version: "20251023050908"
slug: "bind"
description: "A fully featured DNS server. Please note: This addon is not provided by Internet Systems Consortium, it is a third party addon"
url: "https://github.com/Zajsoft/addon-bind_fa"
host_network: true
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
ports:
  53/udp: 5353
  53/tcp: 5353
map:
  - addon_config:rw
image: ghcr.io/cmsj/{arch}-addon-bind
codenotary: cmsj@tenshu.net
backup_exclude:
  - '*/cache'
